<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Menu</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>

<h1>User Management - Main Menu</h1>

<div class="menu-container">
    <a th:href="@{/users/create}" class="menu-button">Create User</a>
    <a th:href="@{users/find}" class="menu-button">Get User By ID</a>
    <a th:href="@{/users}" class="menu-button">Get All Users</a>
    <a th:href="@{/users/update}" class="menu-button">Update User</a>
    <a th:href="@{/users/delete}" class="menu-button">Delete User</a>
</div>

</body>
</html>
