<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Info</title>
    <link rel="stylesheet" th:href="@{/css/user-info.css}">
</head>
<body>

<h1>User Created Successfully</h1>

<div>
    <p><strong>First Name:</strong> <span th:text="${userResponse.firstName}"></span></p>
    <p><strong>Last Name:</strong> <span th:text="${userResponse.lastName}"></span></p>
    <p><strong>Email:</strong> <span th:text="${userResponse.email}"></span></p>
    <p><strong>Phone Number:</strong> <span th:text="${userResponse.phoneNumber}"></span></p>
    <p><strong>Date of Birth:</strong> <span th:text="${userResponse.dateOfBirth}"></span></p>
</div>
<div style="margin-top: 30px;">
    <a th:href="@{/main-menu}" class="back-button">Back to Main Menu</a>
</div>
</body>
</html>
